*{
    font-size: 20px
}
.Titulo {
    color: blue;
}
.titulo{
    font-weight: bold;
}
.imagen{
    border: 5px solid red;
}
.a{
    text-decoration: none;
}
.destacado{
    background-color: yellow;
}